/node_modules/
*.swp
*.swo
*.swq
dist/
.DS_Store

moonfit
quick-framework
lua-gama
*.merged.lua
*.merged.luac
tags
dump.rdb
log
node-lua-distiller.merged.luajit
node-lua-distiller.min.lua
node-lua-distiller.min.luajit
